.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 20px;
    position: relative;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.progress-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.bg-danger {
    background-color: red;
}

.btn {
    width: 100px;
    padding: 10px;
}

.select-box {
    display: block;
    width: 200px;
    height: 38px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mt-50 {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 5px;
    margin-bottom: 5px;
}